/* index.css
 * App level CSS for custom styles and overrides
 *
 */

.content {
    top: 45px;
    bottom: 50px;
}

/* Map styles */
.map-canvas { height: 200px; }

/* global button overrides */
.btn.disabled, .btn:disabled {
    opacity: .3;
}

.logcount {
    -webkit-transform: translateY(50%);
    color: #007AFF;
    opacity: .3;
    padding-right: 15px;
    font-weight: 900;
    font-size: 200%;
}